<div class="header-top-bar-container clearfix">
	<p>Prestige</p>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 bgimage">
			<div class="bgimage-inside"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 pad-fix-1">   
			<h2 class="box-header">BOOK A TRANSFER</h2>
			<p class="description align-center">
				Professional airport and port transfer service. Arrive in style and comfort without any worries! 
				<br>
				Prestige can arrange any type of airport, business or personal transfer. Book NOW!
			</p>
		</div>
	</div>
</div>


<div class="container pad-fix-1">	  
	<%= render 'form'  %>
	<!--<%= link_to 'Back', bookings_path %>--> 
</div>


